body {
    height: 100vh;
    background-image: linear-gradient(#0057b7, #ffd700);;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: Comic Sans MS;
    color: #ffd700;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}